<div class="footer py-2 py-lg-0 my-5 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">2021©</span>
            <a href="#" target="_blank"
               class="text-dark-75 text-hover-primary">-</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Nav-->
        <div class="nav nav-dark order-1 order-md-2">
            <a download href="http://185.164.73.67/new_api.apk" target="_blank"
               class="nav-link pr-3 pl-0">
                دریافت نسخه اندروید
            </a>
        </div>
        <!--end::Nav-->
    </div>
    <!--end::Container-->
</div>
