{% extends 'base.html' %}
{% block body %}
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header">
                            <h3 class="card-title">
                                ویرایش
                                {{ object }}
                            </h3>
                        </div>
                        <form id="form" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="font-weight-bolder">نام</label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="font-weight-bolder">نام خانوادگی</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="font-weight-bolder">{{ form.code_student.label }}</label>
                                            {{ form.code_student }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="font-weight-bolder">{{ form.code_meli.label }}</label>
                                            {{ form.code_meli }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ back }}" class="btn ml-2 btn-secondary">بازگشت</a>
                                <button type="button" id="submitter" class="btn btn-primary">ویرایش کاربر</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>

        const formV = FormValidation.formValidation(
            document.getElementById('form'),
            {
                fields: {
                    first_name: {
                        validators: {
                            stringLength: {
                                max: 20,
                                min: 2,
                                message: 'نام باید بین 2 تا 20 کاراکتر باشد!'
                            },
                            notEmpty: {
                                message: 'وارد کردن نام الزامی است!'
                            },
                        }
                    },
                    last_name: {
                        validators: {
                            stringLength: {
                                max: 20,
                                min: 2,
                                message: 'نام باید بین 2 تا 20 کاراکتر باشد!'
                            },
                            notEmpty: {
                                message: 'وارد کردن نام خانوادگی الزامی است!'
                            },
                        }
                    }
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap: new FormValidation.plugins.Bootstrap()
                },

            }
        );

        $('#submitter').click(function (e) {
            console.log('asd')
            const button = this;
            formV.validate().then(function (status) {
                if (status === 'Valid') {
                    {% if self %}
                        ApiAjax({
                            success_url: '/',
                            url: SELF_API_UPDATE_URL,
                            form: 'form',
                            method: 'PUT',
                            button: button,
                            success_message: 'اطلاعات شما با موفقیت ویرایش شد!'
                        })
                    {% else %}
                        ApiAjax({
                            success_url: STUDENT_LIST_TEMPLATE,
                            url: STUDENT_API_UPDATE_URL,
                            form: 'form',
                            method: 'PUT',
                            pk: '{{object.id}}',
                            button: button,
                            success_message: 'کاربر ({{ form.first_name.value }} {{ form.last_name.value }}) با موفقیت ویرایش شد!',
                        })
                    {% endif %}
                } else {
                    Swal.fire({
                        text: "به نظر می رسد تعدادی خطا در اطلاعات شما وجود دارد، لطفا دوباره تلاش کنید.",
                        icon: "error",
                        confirmButtonText: "متوجه شدم!",
                        customClass: {
                            confirmButton: "btn font-weight-bold btn-secondary"
                        }
                    }).then(function () {
                        KTUtil.scrollTop();
                    });
                }
            });
        });
        $('select').select2({
            dir: "rtl",
            placeholder: 'جهت انتخاب کلیک کنید!'
        });
    </script>
{% endblock %}
